<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Cours de Musique</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
        <meta name="handheldfriendly" content="true">
        <meta name="mobileoptimized" content="320">
        <meta http-equiv="cleartype" content="on">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="Cours de Musique">
        <meta name="robots" content="noindex, nofollow"/>
    </head>

    <body ng-app="app">
        <div>
            
            <base href="/"></base>
            
            {% include 'BOFFrameworkBundle:regions:header.html.twig' %}          
            
            {% include 'BOFFrameworkBundle:partials:navigation.html.twig' %}
            
            <div class="bof-main-content">
                
            </div>
            
            {% include 'BOFFrameworkBundle:regions:footer.html.twig' %}
            
        </div>
    </body>
</html>

