.button-musique {
    padding: 10px;
    border: 1px solid transparent;

    &.is-active,
    &:hover {
        background: #3a4650;
        border-color: #333e46;
        //box-shadow: 0 0 0 0 rgba(0 0 0 0); 
    }
}

.button-main {
	@include build-button(#374550,#1f8f09,#256917,#465762,#ffffff, 14px, #5b7532, 12px, 40px, 6px);
}

.button-discover {
	@include build-button(#374550,#1f8f09,#256917,#465762,#ffffff, 10px, #5b7532, 4px, 10px, 4px);
}


.button-inscrivez {
	@include build-button(#f5978e,#ca0000,#a90000,#221f1f,#ffffff, 14px, #ff1100, 8px, 20px, 6px);
}