.features-area {
	padding-top: 25px;
	padding-bottom: 15px;
}
.pedagogie-area {
	padding-bottom: 100px;

	h3 {
	    margin-top: 0px;
	}
}

.features-imgs {
	padding-right: 10px;
}

.payment-area {
	text-align: center;
}